.hero {
    height: 100vh;
    background:#0c1f35;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.hero-content {
    text-align: center;
    color: #fdeefa;
    z-index: 2;
    max-width: 800px;
    padding: 0 20px;
}

.hero-content h1 {
    font-size: 4.5rem;
    font-weight: 900;
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero-desc {
    font-size: 1.4rem;
    margin-bottom: 40px;
    opacity: 0.95;
}

.submit-btn {
    display: inline-block;
    background: #D8315B;
    color: #E6EEF7;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 18px 52px;
    border-radius: 50px;
    text-decoration: none;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    border: 3px solid #E6EEF7;
}

.submit-btn:hover {
    transform: scale(1.05) translateY(-4px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.4);
    background: #B72247;
}